name: CI

on:
  push:
  pull_request:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo build --all-targets --verbose

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: rustup component add clippy
    - run: cargo clippy

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: taiki-e/install-action@cargo-llvm-cov
      - run: cargo llvm-cov --branch --fail-uncovered-lines 0 --show-missing-lines

  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo doc --verbose

  examples:
    name: Examples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo run --example basic --verbose
    - run: cargo run --example ring_buffer --verbose

  readme:
    name: README.md
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cat <(echo '```rust') examples/basic.rs > tmp
    - run: echo '```' >> tmp
    - run: tail -$(cat tmp | wc -l) README.md | diff - tmp
    - run: rm tmp

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo test --verbose
