name: CI

on:
  push:
  pull_request:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  build-all-targets:
    name: Build all targets
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./scripts/build-all-targets.sh --verbose

  check-coverage:
    name: Check coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: taiki-e/install-action@cargo-llvm-cov
      - run: ./scripts/check-coverage.sh --verbose

  check-example-in-readme-file:
    name: Check example in README file
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./scripts/check-example-in-readme-file.sh

  check-formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: rustup component add rustfmt
    - run: ./scripts/check-formatting.sh --verbose

  generate-documentation:
    name: Generate documentation
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v4
    - run: ./scripts/generate-documentation.sh --verbose

  run-all-examples:
    name: Run all examples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./scripts/run-all-examples.sh --verbose

  run-all-tests:
    name: Run all tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./scripts/run-all-tests.sh --verbose

  run-clippy:
    name: Run Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: rustup component add clippy
    - run: ./scripts/run-clippy.sh
